init-author-email=contact@oldbigbuddha.net
init-author-name=OldBigBuddha
init-author-url=http://oldbigbuddha.dev/
init-license=Apache-2.0
init-version=0.0.0

include=dev # shrinkwrap、outdated、updateコマンドを実行するときにdevを含めるようにしてくれる。
save-exact=true # 自動的に --save-exact を付けてくれる。
progress=false # npm installするときに出てくるprogressバーを抑止出来る。
engine-strict=true # install対象のpackageのpackage.jsonのenginesを見て、Node.jsのバージョンが合致しなかった場合はnpm installを失敗扱いにしてくれる。